<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twosheds.pi" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MonteCarloActivity"
            android:label="@string/monte_carlo"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="com.twosheds.pi.action.PI" />
                <category android:name="com.twosheds.pi.category.PI" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LeinbnitzActivity"
            android:label="@string/gregory_leibnitz"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="com.twosheds.pi.action.PI" />
                <category android:name="com.twosheds.pi.category.PI" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MachinActivity"
            android:label="@string/machin_series"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="com.twosheds.pi.action.PI" />
                <category android:name="com.twosheds.pi.category.PI" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NilakanthaActivity"
            android:label="@string/nilakantha_series"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="com.twosheds.pi.action.PI" />
                <category android:name="com.twosheds.pi.category.PI" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VieteActivity"
            android:label="@string/viete_product"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="com.twosheds.pi.action.PI" />
                <category android:name="com.twosheds.pi.category.PI" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GaussLegendreActivity"
            android:label="@string/gauss_legendre"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="com.twosheds.pi.action.PI" />
                <category android:name="com.twosheds.pi.category.PI" />
            </intent-filter>
        </activity>

    </application>

</manifest>
